body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    text-shadow: 2px 2px 3px grey;
}
.color-orange{
    color: orange;
}
.top-width{
    width: 50%;
    margin-left: 150px;
}
.top-width img{
    width: 80%;
    
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.botton-1{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 12px 41px;
    color: white;
    font-weight: 700;
    border-radius: 7px;
   
}